@media screen and (max-width: 768px) {
  .metodos_aplicados_geral {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    > .container:nth-child(8) {
      > form > .row > .col:nth-child(2) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .metodos_aplicados_2g,
  .metodos_aplicados_5g {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    > .container {
      > form > .row > .col:nth-child(2) {
        display: flex;
        flex-direction: column;
      }
    }
    > .container:nth-child(1),
    > .container:nth-child(2) {
      > form > .row > .col:nth-child(2) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
