@mixin form-styles {
  background-color: oklch(0.279 0.041 260.031);
  color: oklch(0.985 0.001 106.423);
  font-size: 0.8rem;

  &::placeholder {
    color: oklch(0.869 0.022 252.894);
    font-size: 0.8rem;
  }

  &:hover {
    background-color: oklch(0.129 0.042 264.695);
  }

  &:focus {
    background-color: oklch(0.129 0.042 264.695);
    color: oklch(0.869 0.022 252.894);
  }
}

.form-control,
.form-select,
.form-check-input {
  @include form-styles;
}
