.notificacao-campos-limpos{
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: green;
  color: white;
  padding: 1rem;
  width: 20rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  text-align: center;
}