@mixin notificacao-base($bg-color) {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: white;
  padding: 1rem;
  width: 20rem;
  max-width: 90%; 
  font-size: 1.2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: $bg-color;
  z-index: 999;
}

.notificacao-campos-limpos {
  @include notificacao-base(green);
}

.notificacao-erros {
  @include notificacao-base(red);
}
